version: 2
updates:
  - package-ecosystem: composer
    directory: "/"
    schedule:
      interval: daily
    target-branch: "primary"
    open-pull-requests-limit: 99
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily