name: Tests

permissions:
  contents: read

on:
  pull_request:
  workflow_dispatch:

jobs:
  phpunit:
    name: PHP ${{ matrix.php-version }} Unit Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ["8.1", "8.2", "8.3", "8.4", "8.5"]
    services:
      database:
        image: mysql:latest
        env:
          MYSQL_DATABASE: content_publisher_tests
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

      - name: Setup PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mysqli
          tools: composer,wp-cli

      - name: Cache Composer dependencies
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
        with:
          path: |
            ~/.composer/cache
            vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-interaction --no-progress --prefer-dist --no-scripts --no-ansi

      - name: Setup test
        run: bash bin/install-wp-tests.sh --dbname=content_publisher_tests --dbuser=root --dbpass=root --dbhost=127.0.0.1 --version=latest --tmpdir=/tmp --skip-db=true

      - name: Run tests
        run: vendor/bin/phpunit
