name: Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  phpunit-84:
    name: PHP 8.4 Unit Tests
    runs-on: ubuntu-latest
    services:
      database:
        image: mysql:latest
        env:
          MYSQL_DATABASE: content_publisher_tests
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP 8.4
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          extensions: mysqli
          tools: phpunit-polyfills

      - name: Setup test
        run: bash bin/install-wp-tests.sh content_publisher_tests root root 127.0.0.1 latest true

      - name: Run tests
        run: phpunit
