name: WordPress.org Plugin Check
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
    - main

permissions:
  contents: read

jobs:
  validate:
    name: Validate Plugin
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.3.1
    - name: Setup PHP 8.4
      uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
      with:
        php-version: "8.4"
        extensions: mysqli
        tools: composer,wp-cli

    - name: Cache Composer dependencies
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: |
            ~/.composer/cache
            vendor
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
            ${{ runner.os }}-composer-

    - name: Install dependencies
      run: |
        composer install --no-dev --no-interaction --no-progress --prefer-dist --no-scripts --no-ansi
        npm ci
        npm run build

    - name: Create Dist Archive for wp.org validation
      run: |
        wp package install wp-cli/dist-archive-command:v3.1.0
        wp dist-archive . --plugin-dirname=pantheon-content-publisher --filename-format=pantheon-content-publisher-dist
        unzip ../pantheon-content-publisher-dist.zip

    - name: Run plugin check
      uses: wordpress/plugin-check-action@6f5a57e173c065a394b78688f75df543e4011902 # 1.1.5
      with:
        build-dir: pantheon-content-publisher
